<div class="page-header">
    <h1>Reset Password <small>to the Cyber Security Challenge</small></h1>
</div>
<ng-include src="'components/html/notification_service.html'"></ng-include>
<form ng-if="!resetSuccess" name="resetForm" ng-submit="resetPasswordController.reset(reset)" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': resetForm.username.$dirty && resetForm.username.$error.required}">
        <label for="username">E-Mail Address</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="reset.username" placeholder="E-Mail Address" ng-required="true" >
        <span ng-show="resetForm.username.$dirty && resetForm.username.$error.required" class="help-block">E-Mail Address is required</span>
    </div>
    <div class="form-group" ng-class="{'has-error': resetForm.resetCode.$dirty && resetForm.resetCode.$error.required}">
        <label for="resetCode">Reset Code</label>
        <input type="text" class="form-control" id="resetCode" name="resetCode" ng-model="reset.resetCode" placeholder="Reset Code" ng-required="true" >
        <span ng-show="resetForm.resetCode.$dirty && resetForm.resetCode.$error.required" class="help-block">Reset Code is required</span>
    </div>
    <div class="form-group" ng-class="{'has-error': resetForm.password.$dirty && resetForm.password.$error.required}">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="reset.password" placeholder="Password" ng-required="true">
        <span ng-show="resetForm.password.$dirty && resetForm.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-group" ng-class="{'has-error': resetForm.repeatPassword.$dirty && resetForm.repeatPassword.$error.validator}">
        <label for="password">Repeat Password</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" ui-validate=" '$value==reset.password' " ui-validate-watch=" 'reset.password' " ng-model="reset.repeatPassword" placeholder="Password" ng-required="true">
        <span ng-show="resetForm.repeatPassword.$dirty && resetForm.repeatPassword.$error.validator" class="help-block">Passwords do not match</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="resetForm.$invalid" >Login</button>
</form>
<p ng-if="resetSuccess"><a class="btn btn-primary btn-lg" href="#!/view_login" role="button">Login</a></p>