<div class="row">
    <div class="col-md-8">
        <div ng-class="{ 'alert': notification,
            'alert-success': notification.type === 'success',
            'alert-danger': notification.type === 'danger',
            'alert-info': notification.type === 'info',
            'alert-warnung': notification.type === 'warning'}" ng-if="notification" ng-bind="notification.message"></div>
    </div>
</div>