.mainContent {
    margin-top: 180px;
}

.logo-main {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo-fh {
    background-color: white;
    padding-top: 9px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 5px;
}

.topContainer {
    background-color: #bce4fa;
}

.navbar {
    top: 118px;
    background-color: #5b83ae;
    font-weight: bold;
    color: white;
}


.navbar-default .navbar-nav li a, .navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-nav  .active  a,
.navbar-default .navbar-nav  .active  a:hover,
.navbar-default .navbar-nav  .active  a:focus,
.navbar-default .navbar-nav  li  a:hover,
.navbar-default .navbar-nav  li  a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .dropdown-menu {
    background-color: #00497b;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #335c85;
}

.btn-primary, .panel-primary > .panel-heading {
    background-color: #1f4266;
}

.panel-primary, .btn-primary {
    border-color: #1f4266;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}